cargo-registry
target
build
.idea
.venv
.cache
.DS_Store
Podfile.lock
Cargo.lock
local.properties
.swp

# Intellij Files
*.iml

# vscode files
.vscode/

#debian files
*.deb


#python
__pycache__/
*.pyc

#libraries
*.so
*.a

# dat files for demo of python wrapper
*.dat

# png file for demo of python wrapper
*.png


.linux.libindy
.macosbuild
*.zip

# ios wrapper files
*.xcuserstate
